<div>
    <h1>Best of Quotes</h1>
    <p>View and get to vote on the best quotes!!</p>
    <hr>
    <div class="row">
        <div class="col-md-4" *ngFor='let quote of quotes;let i = index'>
            <h3 appHighlight *ngIf="highestUpvote()===quote.upVotes && quote.upVotes>0" >{{quote.name}}</h3>
            <p *ngIf="highestUpvote()!==quote.upVotes || quote.upVotes===0" >{{quote.name}}</p>
            <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
            <button class="btn btn-primary" id="up" (click)='upVote(i)'>upvote </button>
            <button class="btn btn-primary" (click)='downVote(i)'>downvote </button>
        </div>
    </div>
    <button class="btn btn-outline-dark btn-change addQuote" id="yourQuote" type="button" (click)='addQuote()'>Add Your Quote</button>
    <div class="popUpFormBg" *ngIf='showForm'>
        <app-quote-form (addQuote)="addNewQuote($event)" (showForm)="hideForm()"></app-quote-form>
    </div> 
</div>
